In [1]:
import numpy as np
# Importing standard Qiskit libraries
from qiskit import QuantumCircuit, QuantumRegister, ClassicalRegister, transpile, Aer, IBMQ
import qiskit.quantum_info as qi
from qiskit.tools.jupyter import *
from qiskit.visualization import *
from ibm_quantum_widgets import *
from qiskit_textbook.tools import array_to_latex
import pandas as pd

# Loading your IBM Quantum account(s)
provider = IBMQ.load_account()

### Define circuit to truth table function

In [2]:
def circuit_to_truthtable(circuit):
    circ_mx = qi.Operator(circuit).data
    input_bin = []
    output_bin = []
    dims = circ_mx.shape[0]
    n_bits = len("{0:b}".format(dims-1))
    for c in range(dims):
        col = [sub[c] for sub in circ_mx]
        ones_in_col = col.count(1)
        if ones_in_col != 1:
            print("Error! Not classical")
        else:
            tt_in = bin(c)[2:].zfill(n_bits)
            input_bin.append(tt_in)
            tt_out = bin(col.index(1))[2:].zfill(n_bits)
            output_bin.append(tt_out)
    return list(zip(input_bin, output_bin))

## Classical circuit examples
### X-gate

In [3]:
# NOT
qx = QuantumRegister(1)
circuit_x = QuantumCircuit(qx)
circuit_x.x(qx[0])
#qc.measure(q,c)
circuit_x.draw()

x_tt = circuit_to_truthtable(circuit_x)
pd.DataFrame(x_tt, columns=["Input","Output"])

  Input Output
0     0      1
1     1      0

### CX-gate

In [4]:
# CNOT
qcx = QuantumRegister(2)
circuit_cx = QuantumCircuit(qcx)
circuit_cx.cx(qcx[0],qcx[1])
#qc.measure(q,c)
circuit_cx.draw()

cx_tt = circuit_to_truthtable(circuit_cx)
pd.DataFrame(cx_tt, columns=["Input","Output"])

  Input Output
0    00     00
1    01     11
2    10     10
3    11     01

### CCX-gate

In [5]:
# CCNOT
qccx = QuantumRegister(3)
circuit_ccx = QuantumCircuit(qccx)
circuit_ccx.ccx(qccx[0],qccx[1],qccx[2])
#qc.measure(q,c)
circuit_ccx.draw()

ccx_tt = circuit_to_truthtable(circuit_ccx)
pd.DataFrame(ccx_tt, columns=["Input","Output"])

  Input Output
0   000    000
1   001    001
2   010    010
3   011    111
4   100    100
5   101    101
6   110    110
7   111    011

### Deutsch-Joza Oracle

In [7]:
from qiskit_textbook.problems import dj_problem_oracle
oraclenr = 4 # determines the oracle (can range from 1 to 5)
oracle = dj_problem_oracle(oraclenr) # gives one out of 5 oracles
oracle.name = "DJ-Oracle"
oracle_tt = circuit_to_truthtable(oracle)
pd.DataFrame(oracle_tt, columns=["Input","Output"])

    Input Output
0   00000  00000
1   00001  00001
2   00010  00010
3   00011  00011
4   00100  10100
5   00101  10101
6   00110  10110
7   00111  10111
8   01000  01000
9   01001  01001
10  01010  01010
11  01011  01011
12  01100  11100
13  01101  11101
14  01110  11110
15  01111  11111
16  10000  10000
17  10001  10001
18  10010  10010
19  10011  10011
20  10100  00100
21  10101  00101
22  10110  00110
23  10111  00111
24  11000  11000
25  11001  11001
26  11010  11010
27  11011  11011
28  11100  01100
29  11101  01101
30  11110  01110
31  11111  01111